/* ----- Main ------- */
body{
  background-color: #f0fafc;
}
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* ----- Navbar ------- */
.header{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
#logo{
  font-family: 'Rock Salt', cursive;
  color: #0498bd;
  font-size: 30px;
}
.nav-links{
  color: #364e7e
  /* #546b9a; */
}
.nav-links:hover{
  color: #0288a9;
}
#login-button{
  background-color: #0498bd;
  border-color: lightgray;
}
#login-button:hover{
  background-color:#038cae;
  opacity:300%;
}
#login-link:hover{
  color:white !important;
}

/* ----- Landing ------- */
#landing-title{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 3em;
  /* font-weight: bold; */
  background-color: #0498bd;
  /* #392A1D; */
  /* #453e2e; */
  /* #504A47; */
  opacity: 95%;
  padding-bottom: 8px;
  border-radius: 5px;
}
.card-text{
  background-color: #6D757D;
  opacity: 500%;
  width: 55%;
  margin: auto;
  border-radius: 6px;
}
#search{
  margin-top: 70px !important;
  width:90%;
  margin: auto;
}


/* ----- Search App ------- */
li{
  list-style-type: none;
  text-align: left;
}
#drug-container{
  border: solid 3px #6D757D;
  border-radius: 10%;
  margin-left: 60px;
  width: 25%;
  padding:20px;
}

/* ----- User Account ------- */

/* ----- Signup/Login ------- */
.box{
  border: solid 3px #0498bd;
  border-radius: 10%;
  width: 25%;
  margin:auto;
  padding:25px;
}
.login-button{
  margin-top: 25px !important;
  padding: 5px;
  color: white;
  background-color: #6D757D;
  border-radius: 5px;
}
.login-button:hover{
  background-color:#60686f;
  opacity:300%
}